NEXT_PUBLIC_WEB_APP_URL=https://app.looksharp.co
NEXT_PUBLIC_IOS_APP_URL=
NEXT_PUBLIC_ANDROID_APP_URL=
NEXT_PUBLIC_SUPPORT_EMAIL=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_SITE_URL=https://looksharp.co
